.badge {
  background-color: var(--red);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge--sm {
  background-color: var(--red);
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.no-answer {
  opacity: 0;
}

.badge-new {
  margin-left: 12px;
  background-color: var(--red);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 13px;
}